:root {
    --bg-color-sidebar: #1e213a;
    --bg-color-content: #100E1D;
    --main-txt-color: #E7E7EB;
    --second-txt-color: #A09FB1; 
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none !important;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

body {
    color: var(--main-txt-color);
    font-size: 1rem;
}

#icon-actual-wheater-state {
    width: 10.625rem;
    height: 12.625rem;
}

.temperature {
    font-size: 6rem;
    font-weight: 500;
}

.temperature span {
    font-size: 2rem;
}

#actual-wheater-state {
    font-size: 2rem;
    color: var(--second-txt-color);
    font-weight: 600;
}

#actual-day {
    display: flex;
    align-items: center;
    color: var(--second-txt-color);
    gap: 1rem;
}

#current-location {
    display: flex;
    gap: 1rem;
    color: var(--second-txt-color);
}

#procurar {
    font-weight: 600;
    color: var(--main-txt-color);
    background-color: #3C47E9;
    padding: 1.5rem;
    cursor: pointer;
}



.fa-circle {
    font-size: .2rem;
}

.hidden {
    display: none !important;
}

.wheater-app {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--bg-color-sidebar);
    position: relative;
}

.sidebar::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    opacity: .4;
    width: 100%;
    height: 100%;
    background-image: url(./assets/img/Cloud-background.png);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35rem 23.5rem;
}

.sidebar nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 3rem;
    z-index: 999;
}

.search-btn {
    padding: .8rem 1.2rem;
    border-radius: 5px;
    color: var(--main-txt-color);
    background-color: #6E707A;
    font-weight: 500;
    cursor: pointer;
}

.search-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--bg-color-sidebar);
}

.search-sidebar button {
    width: 100%;
    display: flex;
    justify-content: end;
    border: none;
    background: transparent;
}

.fa-xmark {
    font-size: 2rem;
    width: fit-content;
    color: var(--main-txt-color);
    cursor: pointer;
    margin: 4rem 2rem 2rem 2rem;
}

.search-sidebar nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fa-magnifying-glass {
    display: flex;
    align-items: center;
    border: 1px solid var(--second-txt-color);
    padding: 1rem;
    color: var(--second-txt-color);
}

.fa-magnifying-glass input {
    width: 18rem;
    height: 2rem;
    background: transparent;
    margin: 0 1rem;
    font-size: 1.3rem;
    color: var(--second-txt-color);
}

.location-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-txt-color);
    font-size: 1.3rem;
    background-color: #6E707A;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 2;
    padding: 3rem 6rem;
    background-color: var(--bg-color-content);
}

.units-btn {
    display: flex;
    gap: .6rem;
    width: 100%;
    align-items: center;
    justify-content: end;
}

.celcius-btn,
.fahrenheit-btn {
    font-size: 1.1rem;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #585676;
    color: var(--main-txt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selected {
    background-color: var(--main-txt-color);
    color: #110E3C;
    transition: .5s ease-in-out;
}

.forequest-of-the-week {
    margin: 2rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.card {
    width: 8.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bg-color-sidebar);
    border-radius: .2rem;
}

.card h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
}

.card img {
    width:3.528rem;
    height: 3.875rem;
}

.card p {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.minima {
    color: var(--second-txt-color);
}

.wheater-app h2 {
    margin: 2rem 0;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 5rem;
    margin: 1rem 0;
}

.wind-container,
.humidity-container {
    width: 328px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex: 1;
    justify-content: space-around;
    border-radius: .2rem;
    background-color: var(--bg-color-sidebar);
}

.wind-container .wind-force,
.humidity-container .humidity-percentage {
    font-weight: 700;
    font-size: 4rem;
}

.wind-container .wind-force span{
    font-weight: 400;
    font-size: 2rem;
}

.fa-location-arrow {
    transform: rotate(315deg);
    padding: .6rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.humidity-container h3,
.highlights .visibility-container h3,
.wind-container h3,
.air-pressure-container h3 {
    font-weight: 500;
    width: 250px;
    text-align: center;
}

.humidity-container .humidity-percentage span {
    font-size: 3rem;
    font-weight: 400;
}

.humidity-container div p {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: 700;
    margin: .2rem 0;
}

.humidity-container div p:last-child {
    display: flex;
    justify-content: flex-end;
}

#bar-percentage {
    width: 229px;
    height: 8px;
    background-color: var(--main-txt-color);
    border-radius: 80px;
}

#percentage {
    width: 0%;
    height: 8px;
    border-radius: 80px 0 0 80px;
    background: #FFEC65;
    z-index: 1;
}

#wind-direction {
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    font-weight: 500;
    font-size: .9rem;
}

.visibility-container,
.air-pressure-container {
    width: 328px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex: 1;
    justify-content: space-around;
    border-radius: .2rem;
    background-color: var(--bg-color-sidebar);
}

#visibility-value,
#pressure-value {
    font-size: 4rem;
    font-weight: 700;
}

#visibility-value span,
#pressure-value span {
    font-size: 2rem;
    font-weight: 400;
}

footer {
    width: 100%;
    text-align: center;
    margin: 3rem 0 0 0;
}

@media (max-width: 1100px) {
    .wheater-app {
        display: flex;
        flex-direction: column;
    }
    .forequest-of-the-week {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .card {
        font-size: .8rem;
        width: 6rem;
        border-radius: .2rem;
    }
    .card p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
}

@media (max-width: 675px) {
    .forequest-of-the-week {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    .content {
        padding: .5rem;
    }
    .humidity-container h3,
    .highlights .visibility-container h3,
    .wind-container h3,
    .air-pressure-container h3 {
        max-width: 250px;
    }
    .fa-magnifying-glass input {
        width: 10rem;
        height: 2rem;
    }
    .search-sidebar {
        padding: 1rem;
    }
}

@media (max-width: 450px) {
    #icon-actual-wheater-state {
        width: 9.625rem;
        height: 11.625rem;
    }
    .forequest-of-the-week {
        grid-template-columns: 1fr 1fr;
    }
    .sidebar {
    background-size: 30rem 16.5rem;
    }
    .fa-magnifying-glass input {
        max-width: 6rem;
        height: 1rem;
    }
    #procurar {
        padding: 1.1rem !important;
        cursor: pointer;
    }    
}